<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>FitGoals{% if active != 'Root' %} | {{ active }}{% endif %}</title>
    <link type="text/css" rel="stylesheet" href="/static/django_fitgoals.css">
</head>

<body>
    <div id="header">
        <ul id="control-bar">
        {% if user.is_authenticated %}
            <li id='auth'><a {% if active == 'Login' %}id="active" {% endif %}href="{% url 'logout' %}">Logout</a></li>
            <li id='four'><a {% if active == 'Events' %}id="active" {% endif %}href="{% url 'events_view' %}">Events</a></li>
            <li id='three'><a {% if active == 'Teams' %}id="active" {% endif %}href="{% url 'teams_view' %}">Teams</a></li>
            <li id='two'><a {% if active == 'Users' %}id="active" {% endif %}href="{% url 'users_view' %}">Users</a></li>
            <li id='one'><a {% if active == 'Root' %}id="active" {% endif %}href="{% url 'root_view' %}">Self</a></li>
        {% else %}
            <li id='auth'><a {% if active == 'Login' %}id="active" {% endif %}href="{% url 'login' %}">Login</a></li>
            <li id='four'><a {% if active == 'Register' %}id="active" {% endif %}href="{% url 'registration_register' %}">Register</a></li>
            <li id='three'><a {% if active == 'Root' %}id="active" {% endif %}href="{% url 'root_view' %}">FitGoals</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="container">
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>

</html>