<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>nintensity</title>
    <link type="text/css" rel="stylesheet" href="/static/django_fitgoals.css">
</head>

<body>
    <div id="header">
        <ul id="control-bar">
        {% if user.is_authenticated %}
            <li id='auth'><a href="{% url 'logout' %}">logout</a></li>
        {% else %}
            <li id='auth'><a href="{% url 'login' %}">login</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="container">
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>

</html>