/*RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {margin: 0; padding: 0;
border: 0; outline: 0; font-size: 100%; vertical-align: baseline;
background: transparent;} article, aside, figure, footer, header, hgroup,
nav, section {display: block;} html {-webkit-text-size-adjust: 100%;}



/*GENERAL*/
html {
    font-family: sans-serif;
    background-color: rgb(222,222,222);
}
body {
    background-color: rgb(255,255,255);
}



/*HEADER*/
#header {
    height: 64px;
    width: 100%;
    background-color: rgb(244,244,244);
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
    -moz-box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
    box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
}
#header ul {
    width: 960px;
    height: 64px;
    margin: 0 auto;
}
#header ul li {
    display: block;
    float: right;
    width: 16.666667%;
    line-height: 64px;
    font-size: 16px;
    text-align: center;
}
#header ul li#auth {}
#header ul li#register {}
#header ul li#fitgoals {
    float: left;
}
#header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(166,166,166);
    text-decoration: none;
}
#header ul li a:hover {
    color: rgb(0,0,0);
    background-color: rgb(222,222,222);
}
#header ul li a:active {
    background-color: rgb(222,222,222);
}



/*CONTENT*/
#container {
    margin: 64px auto 0;
    padding: 40px 0;
    width: 960px;
    min-height: 768px;
}
#container p {
    padding: 0 40px 22px;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
}
#container p:last-of-type {
    padding-bottom: 0;
}

/*login and registration forms*/
#container form {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 0 40px;
}
#container form p, #container form p:first-of-type {
    margin: 0 0 10px;
    padding: 0;
}
#container form ul li {
    list-style: none;
    text-align: center;
    color: rgb(255,0,0);
    margin: 0 0 2px 0;
}
#container form p label {
    display: block;
    float: left;
    width: 190px;
    height: 32px;
    text-align: right;
    padding-right: 10px;
    line-height: 32px;
}
#container form p input {
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid rgb(222,222,222);
    width: 178px;
    height: 28px;
    line-height: 100%;
    font-size: 20px;
}
#container form input[type='submit'] {
    width: 400px;
    height: 45px;
    margin: 0;
    font-size: 16px;
}
#container form p#reset_password {
    font-size: 13px;
    display: block;
    height: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#container form p#reset_password a {
    color: rgb(166,166,166);
    text-decoration: none;
}
#container form p#reset_password a:hover {
    color: rgb(0,0,0);
}

/*changelist-form form*/
#container ul.object-tools {
    font-size: 16px;
    list-style: none;
    margin: 0 0 22px 5px;
}
#container div#content-main a {
    color: rgb(0,0,0);
    text-decoration: none;
}
#container div#content-main a:hover {
    text-decoration: underline;
}
#container div#content-main form {
    display: block;
    width: 960px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}
#container div#content-main form div.actions {
    padding: 5px;
    margin-bottom: 22px;
}
#container div#content-main form table {
    width: 960px;
    border-top: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
    border-spacing: 0 0;
}
#container div#content-main form table th,
#container div#content-main form table td {
    padding: 5px;
}
#container div#content-main form table th .sortpriority {
    color: rgb(255,0,0);
}
#container div#content-main form table thead tr {
    background-color: rgb(255,255,255);
}
#container div#content-main form table tbody tr:nth-of-type(odd) {
    background-color: rgb(222,222,222);
}
#container div#content-main form table tbody tr:nth-of-type(even) {
    background-color: rgb(244,244,244);
}
#container div#content-main form p {
    font-size: 12px;
    display: none;
}



/*FOOTER*/
#footer {
    height: 128px;
    width: 100%;
    background-color: rgb(222,222,222);
}
#footer #footer_content {
    width: 960px;
    margin: 0 auto;
}


