/*RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {margin: 0; padding: 0;
border: 0; outline: 0; font-size: 100%; vertical-align: baseline;
background: transparent;} article, aside, figure, footer, header, hgroup,
nav, section {display: block;} html {-webkit-text-size-adjust: 100%;}



/*GENERAL*/
html {
    font-family: sans-serif;
}
body {
    background-color: rgb(255,255,255);
}



/*HEADER*/
#header {
    height: 64px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(238,238,238);
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
    -moz-box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
    box-shadow: 0 1px 3px 0 rgba(222,222,222,1);
}
#header ul {
    width: 960px;
    height: 64px;
    margin: 0 auto;
}
#header ul li {
    display: block;
    float: right;
    width: 16.666667%;
    line-height: 64px;
    font-size: 16px;
    text-align: center;
}
#header ul li#auth {}
#header ul li#register {}
#header ul li#fitgoals {
    float: left;
}
#header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(166,166,166);
    text-decoration: none;
}
#header ul li a:hover {
    color: rgb(0,0,0);
    background-color: rgb(211,211,211);
}
#header ul li a:active {
    background-color: rgb(211,211,211);
}



/*CONTENT*/
#container {
    margin: 64px auto 0;
    padding: 40px 0;
    width: 960px;
}
#container a {
    color: rgb(0,0,0);
    text-decoration: none;
}
#container a:hover {
    text-decoration: underline;
}
#container p {
    display: block;
    width: 880px;
    margin: 0 auto;
    padding: 0 40px 22px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
#container p:last-of-type {
    padding-bottom: 0;
}

/*login and registration forms*/
#container form {
    display: block;
    width: 880px;
    margin: 0 auto;
    padding: 40px;
}
#container form p, #container form p:first-of-type {
    margin: 0 0 10px;
    padding: 0;
}
#container form ul li {
    list-style: none;
    text-align: center;
    color: rgb(255,0,0);
    margin: 0 auto 2px;
}
#container form p label {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    clear: both;
}
#container form p input {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px solid rgb(211,211,211);
    width: 380px;
    height: 32px;
    line-height: 100%;
    font-size: 16px;
    clear: both;
    text-align: center;
}
#container form input[type='submit'] {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 32px;
    font-size: 16px;
}
#container form p#reset_password {
    font-size: 13px;
    display: block;
    height: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#container form p#reset_password a {
    color: rgb(166,166,166);
    text-decoration: none;
}
#container form p#reset_password a:hover {
    color: rgb(0,0,0);
}


/*changelist-form form*/
#container ul.object-tools {
    font-size: 16px;
    list-style: none;
    margin: 0 0 22px 5px;
}
#container div#content-main a {
    color: rgb(0,0,0);
    text-decoration: none;
}
#container div#content-main a:hover {
    text-decoration: underline;
}
#container div#content-main form {
    display: block;
    width: 960px;
    padding: 0;
    font-size: 16px;
    text-align: left;
}
#container div#content-main form div.actions {
    padding: 5px;
    margin-bottom: 22px;
}
#container div#content-main form table {
    width: 960px;
    border-top: 1px solid rgb(0,0,0);
    color: rgb(0,0,0);
    border-spacing: 0 0;
}
#container div#content-main form table th,
#container div#content-main form table td {
    padding: 5px;
    border: 0;
}
#container div#content-main form table th .sortpriority {
    color: rgb(255,0,0);
}
#container div#content-main form table thead tr {
    background-color: rgb(255,255,255);
}
#container div#content-main form table tbody tr:nth-of-type(odd) {
    background-color: rgb(211,211,211);
}
#container div#content-main form table tbody tr:nth-of-type(even) {
    background-color: rgb(238,238,238);
}
#container div#content-main form p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
    /*display: none;*/
}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}

.module table {
    border-collapse: collapse;
}


/*workoutlog_form and workouttype_form*/
#container div#content-main form#workoutlog_form,
#container div#content-main form#workouttype_form {
    font-size: 16px;
}

#container div#content-main form#workoutlog_form fieldset,
#container div#content-main form#workouttype_form fieldset {
    border-color: #EEEEEE;
}

#container div#content-main form#workoutlog_form div.submit-row,
#container div#content-main form#workouttype_form div.submit-row {
   margin-bottom: 0;
}
#container div#content-main form#workoutlog_form div.submit-row input,
#container div#content-main form#workouttype_form div.submit-row input {
    display: block;
    float: left;
    font-size: 16px;
    width: 25%;
}
#container div#content-main form#workoutlog_form ul.errorlist,
#container div#content-main form#workouttype_form ul.errorlist {
   margin: 0 0 0 107px;
   padding: 0;
}
#container div#content-main form#workoutlog_form ul.errorlist li,
#container div#content-main form#workouttype_form ul.errorlist li {
    text-align: left;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div p.errornote,
html body div#container div#content.colM div#content-main form#event_form div p.errornote {
    color: rgb(255,0,0);
    margin-left: 171px;
}



/* Workout Form */
html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div label.required {
    width: 150px;
    text-align: right;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row ul.errorlist li {
    margin-left: 54px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div input {
    width: 400px;
    height: 32px;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div p.help {
    padding-left: 160px;
    font-size: 14px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div label {
    width: 150px;
    text-align: right;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div p.datetime {
    display: block;
    float: left;
    clear: right;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div p.datetime input {
    width: 384px;
    height: 32px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div fieldset.module div.form-row div p {
    font-size: 16px;
    display: block;
    float: left;
    width: 400px;
    margin: 0;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div div.submit-row p.deletelink-box {
    display: block;
    width: 25%;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#workoutlog_form div div.submit-row p.deletelink-box a.deletelink {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    background: none;
}

/* Event Form */
html body div#container div#content.colM div#content-main form#event_form div fieldset {
    border-color: #EEEEEE;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div label.required {
    width: 150px;
    text-align: right;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row ul.errorlist li {
    margin-left: 54px;
    text-align: left;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div input {
    width: 400px;
    height: 32px;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div textarea#id_event_description.vLargeTextField {
    width: 400px;
}    

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div label {
    width: 150px;
    text-align: right;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div p.datetime {
    display: block;
    width: 400px;
    float: left;
    clear: right;
    margin: 0;
    padding: 0;
    font-size: 16px;    
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div p.datetime input {
    width: 384px;
    height: 32px;
}

html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div input#id_event_location.vTextField {
    width: 400px;
    height: 32px;
    font-size: 16px;
}

html body div#container div#content.colM div#content-main form#event_form div div.submit-row input {
    width: 33.3333333%;
    display: block;
    float: left;
}

html body div#container div#content.colM div#content-main form#event_form div div.submit-row p.deletelink-box {
    display: none;
    font-size: 16px;
}

/* delete confirm */
div.delete_confirm form label{
    width: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
div.delete_confirm form ul {
    width: 400px;
    display: block;
    margin: 10px auto;
    text-align: center;
}

/* UserProfile Form */
html body div#container div#content.colM div#user_profile_form form li {
    list-style: none;
    display: block;
    /*margin: 0 0 20px 236px;*/
    margin: 0 auto 20px;
}
html body div#container div#content.colM div#user_profile_form form li label {
    display: block;
    width: 406px;
    margin: 0 auto;
}

html body div#container div#content.colM div#user_profile_form form li input {
    display: block;
    width: 400px;
    height: 32px;
    font-size: 16px;
    margin: 0 auto;
}
html body div#container div#content.colM div#user_profile_form form li select {
    display: block;
    width: 408px;
    margin: 0 auto;
}
html body div#container div#content.colM div#user_profile_form form li span {
    width: 406px;
    display: block;
    font-size: 14px;
    margin: 1px auto 0;
}


/* Workout Total */
h3#workout_total {
    padding: 22px 0 0 0;
}
ul#workout_total_times {
    list-style: none;
}
ul#workout_total_times li {
    padding-top: 4px;
}



/* Events & Teams */
#add_event h1 {
    width: 640px;
    margin: 0 auto 40px;
}
#events_list {
    padding: 0 0 40px 0;
}
#events_list:last-of-type {
    padding: 0;
}
#events_list h1 {
    display: block;
    width: 640px;
    text-align: center;
    border-bottom: solid 1px rgb(0,0,0);
    margin: 0 auto;
    padding-bottom: 5px;
}
#events_list h2 {
    display: block;
    width: 640px;
    margin: 40px auto 0;
    padding: 5px 0 3px 0;
}
#events_list h3 {
    display: block;
    width: 640px;
    margin: 15px auto 5px;
    padding: 0;
}
#events table {
    width: 600px;
    margin: 0 auto;
    border-spacing: 0 0;
}
#events table tr:nth-of-type(odd) {
    background-color: rgb(211,211,211);
}
#events table tr:nth-of-type(even) {
    background-color: rgb(238,238,238);
}
#events table td {
    padding: 5px;
}
#events table td.event_day {
    width: 42px;
    text-align: center;
}







h1#see_all_events {
    display: block;
    width: 640px;
    margin: 0 auto 40px;
}
#events_this_year h1 {
    display: block;
    width: 640px;
    text-align: center;
    border-bottom: solid 1px rgb(0,0,0);
    margin: 0 auto;
    padding-bottom: 5px;
}
#events_this_year h2 {
    display: block;
    width: 640px;
    margin: 15px auto 5px;
    padding: 0;
}
#events_this_year table {
    width: 600px;
    margin: 0 auto;
    border-spacing: 0 0;
}
#events_this_year table tr:nth-of-type(odd) {
    background-color: rgb(211,211,211);
}
#events_this_year table tr:nth-of-type(even) {
    background-color: rgb(238,238,238);
}
#events_this_year table td {
    padding: 5px;
}
#events_this_year table td.event_day {
    width: 42px;
    text-align: center;
}


h1#see_all_events_from_details {
    display: block;
    width: 640px;
    margin: 0 auto;
}
h1#see_events_in_year {
    display: block;
    width: 640px;
    margin: 0 auto 40px;
}
#event_details {
    margin: 0 0 40px 0;
}
#event_details h1 {
    display: block;
    width: 640px;
    text-align: center;
    border-bottom: solid 1px rgb(0,0,0);
    margin: 0 auto 5px;
    padding-bottom: 5px;
}
#event_details ul {
    display: block;
    width: 640px;
    margin: 0 auto;
    padding: 5px 0;
}
#event_details ul li {
    padding: 0 0 6px 0;
}


div#event_details ul,
div#event_teams ul {
    list-style: none;
}
#event_teams h1 {
    display: block;
    width: 640px;
    text-align: center;
    border-bottom: solid 1px rgb(0,0,0);
    margin: 0 auto 5px;
    padding-bottom: 5px;
}

.team {
    display: block;
    width: 600px;
    margin:0 auto 5px;
    padding: 20px;
    text-align: center;
    border: solid 1px rgb(166,166,166);
}
#event_teams div.team h1 {
    border-bottom: 0;
    width: 600px;
}
#event_teams h2 {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: solid 1px rgb(166,166,166);
}

#return_to_event {
    display: block;
    width: 400px;
    margin: 0 auto 40px;
    text-align: center;
}
#too_bad {
    text-align: center;
}
div#make_team h1 {
    text-align: center;
    padding: 0 0 5px 0;
}
div#make_team ul {
    display: block;
    width: 400px;
    margin: 0 auto 20px;
    list-style: none;
    padding: 20px;
    border: solid 1px rgb(211,211,211);
}
#make_team form {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px rgb(211,211,211);
}
#make_team form p {
    width: 400px;
}

div#make_team ul.errorlist {
    border: 0;
    padding: 0;
    margin: 0;
}
div#make_team ul li {
    list-style: none;
    text-align: center;
    padding: 5px;
}
html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div p.url {
    display: block;
    float: left;
    width: 400px;
}
html body div#container div#content.colM div#content-main form#event_form div fieldset.module div.form-row div p.url input#id_event_url.vURLField {
    width: 384px;
}

/*LEADERBOARDS*/
#leaders h1 {
    width: 640px;
    margin: 0 auto 40px;
    text-align: center;
}
#leaders h2 {
    display: block;
    width: 640px;
    text-align: center;
    border-bottom: solid 1px rgb(0,0,0);
    margin: 0 auto;
    padding-bottom: 5px;
}
#leaders ul.contested_workout_names {
    display: block;
    float: left;
    width: 120px;
    margin: 0 0 40px 160px;
    padding: 5px 5px 5px 0;
    list-style: none;
    text-align: right;
}
#leaders ul.contested_workout_names li {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    height: 27px;
    line-height: 27px;
    color: rgb(0,0,0);
}
#leaders ul.contested_workout_names li:last-of-type {
    margin: 0;
}
#leaders ul.contested_workout {
    display: block;
    float: right;
    width: 515px;
    margin: 0 160px 40px 0;
    padding: 5px 0;
    list-style: none;
    background-color: rgb(255,255,255);
}
#leaders ul.contested_workout li {
    display: block;
    margin: 0 0 5px 0;
    height: 27px;
    line-height: 27px;
    color: rgb(0,0,0);
    background-color: rgb(211,211,211);
}
#leaders ul.contested_workout li:last-of-type {
    margin: 0;
}
#leaders ul.lonely_workout {
    display: block;
    width: 640px;
    margin: 0 auto 40px;
    padding: 5px 0 0 0;
    list-style: none;
    background-color: rgb(255,255,255);
    border: none;
    text-align: center;
}
#leaders ul.lonely_workout li {
    background-color: rgb(255,255,255);
}



/*MOP-UP*/
html body div#container div#content.flex div#content-main div#changelist.module form#changelist-form p.paginator {
    width: 950px;
    padding: 0 5px 3px;
}

p#error_404 {
    text-align: center;
}