{% extends "base.html" %}
{% block content %}
            <div><a href="../..">Return to {{ specific_event }}</a></div>
            {% if team_creator == True %}
            <div class="delete_confirm">
                <form action="" method="post">{% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" />
                </form>
            </div>
            {% else %}
            <div>You cannot delete someone else's team.</div>
            {% endif %}
{% endblock %}