{% extends "base.html" %}
{% block content %}
            <div id="add_event">
                <h1><a href="../user/fitgoals/event/add/">Add New Event</a></h1>
            </div>
            <div id="events">
                {% for year_group in events_group %}
                {% if year_group.0.0.0 %}
                <div id="events_list">
                    <h1><a href="{{ year_group.0.0.0 }}/">Events in {{ year_group.0.0.0 }}</a></h1>
                    {% for month_group in year_group %}
                    <h3>{{ month_group.0.2 }}</h3>
                    <table>
                        {% for event in month_group %}
                        <tr>
                            <td class="event_day">{{ event.3 }}</td>
                            <td>
                                <a href="{{ year_group.0.0.0 }}/{{ event.5 }}/"><strong>{{ event.4 }}</strong></a>
                            {% if particular_user.id == event.6.id %}
                                <a href="../user/fitgoals/event/{{ event.5 }}/">(Edit This Event)</a>
                                <a href="{{ year_group.0.0.0 }}/{{ event.5 }}/delete-event/">(Delete This Event)</a>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
{% endblock %}