{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        <p><em>Currently logged in as Staff</em> --
        <strong><a href="{% url 'admin:index' %}">View Django Administration</a></strong> --
        <strong><a href="http://docs.fitgoals.us/docs/">View Project Documentation</a></strong></p>
    {% else %}
        <p>If you're like most people, the hardest part of staying fit is maintaining the motivation to exercise regularly. Working out is hard, and it requires a lot more willpower than indulging in another snack. For any number of reasons, you find yourself making excuses for not getting the exercise your body needs. It happens to all of us.</p>
        <p>That's why we brought you FitGoals.</p>
        <p>Your friends and coworkers can apply the social pressure you need to work out regularly. FitGoals provides the tools to get started. Sign up now, and start enjoying the benefits of achieving your fitness goals while helping those around you achieve theirs.</p>
    {% endif %}
{% endblock %}