{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_authenticated and user.is_staff %}
        <p>(ADMIN) ROOT VIEW DISPLAYS HERE WHEN LOGGED IN</p>
        <p><a href="{% url 'admin:index' %}">Django Admin</a></p>
        {% elif user.is_authenticated and not user.is_staff %}
        <p>(USER) ROOT VIEW DISPLAYS HERE WHEN LOGGED IN</p>
        <p><a href="{% url 'user:index' %}">Workout Log</a></p>
        {% endif %}
    {% else %}
        <p>GENERIC ROOT VIEW DISPLAYS HERE WHEN LOGGED OUT</p>   
    {% endif %}
{% endblock %}